@font-face {
    font-family: 'Larsseit';
    src: url("font/larsseit_regular.ttf");
}

*{
    font-family: Larsseit;
    margin: 0;
}

.header-content{
    background: url(img/Rectangle\ 4.png) no-repeat;
    padding-top: 40px;
    padding-left: 179px;
}

.Thrivetalk-link{
    
    font-size: 24px;
    line-height: 27px;
    letter-spacing: -0.035em;
    color: #62D0DF;
    text-decoration: none;
    margin-bottom: 187px;
    
}

.Thrivetalk-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 0;
}

.header-title{
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
    width: 484px;
    margin-top: -147px;
    margin-bottom: 70px;
}

.header-text{
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
    width: 469px;
    height: 161px;
    margin-bottom: 63px;
}

.header-button{
    display: flex;
    flex-direction: row;
}

.header-button-who, .header-button-what{
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FAB63E;
    background: transparent;
    cursor: pointer;
    margin-right: 30px;
    padding: 10px 30px;
    border: none;
    margin-bottom: 79px;
}

.header-button-who:hover, .header-button-what:hover{
    background: #F9B640;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}

.nav-menu{
    display: flex;
    flex-direction: row;
    height: 0;
}

.nav-items{
    
    width: 233px;
    height: 14px;
    margin-left: auto;
    margin-right: auto;
    
}

.item{
    font-size: 14px;
line-height: 16px;
margin-right: 15px;
color: #22356F;
text-decoration: none;
}



.button-contact{
    background: #62D0DF;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF; 
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    
    margin-right: 131px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.button-contact:hover{
    transform: scale(1.1);
}

.header-img{
    margin-left: 700px;
    margin-top: -900px;
    position: relative;
    z-index: 0;
    background: url(img/Rectangle\ 3.1.png) no-repeat;
    background-position: bottom 150% left 120%;
    position: relative;
    z-index: 1;
}

.why-thrive{
    margin-top: -22px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    background: #62D0DF;
}


.why-title{
    font-size: 36px;
line-height: 27px;
letter-spacing: -0.006em;
margin-left: 178px;
color: #FFFFFF;
margin-top: 151px;
margin-bottom: 76px;
}

.why-text{
    font-size: 24px;
line-height: 35px;
width: 555px;
color: #FFFFFF;
height: 235px;
margin-left: 178px;

}

.why-img{
    height: 606px;
    width: 525px;
    margin-bottom: -4px;
}

.about{
    background: #FFFFFF;
}

.about-us{
    display: flex;
    flex-direction: row;
    padding-top: 156px;
    padding-bottom: 70px;
    padding-left: 106px;
}

.about-title{
    font-size: 16px;
line-height: 23px;
letter-spacing: 0.06em;
color: #22356F;
width: 93px;
}

.about-text{
    font-size: 24px;
line-height: 34px;
letter-spacing: 0.005em;
color: #22356F;
width: 592px;
height: 210px;
margin-left: 225px;
}

.help{
    background: #FFFFFF;
}

.help-title{
    font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;
color: #22356F;
opacity: 50%;
margin-bottom: 24px;
}

.help-list1{
    display: flex;
    flex-wrap: wrap;
}

.help-line1{
    width: 250px;
    border: 0.5px solid white;
    margin-bottom: 23px;
    list-style-type: none;
    margin-left: -25px;
}

li{
    list-style: none;
}

.help-weight-lifting{
    background: #FFE2DE;
    font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;
width: 232px; 
height: 54px;
color: #FFFFFF;
padding: 95px 50px 211px 78px;
margin-left: -40px;
margin-bottom: 120px;
letter-spacing: 2px;
}

.help-running{
    font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;
background: #C4E769;
padding: 95px 50px 100px 78px;
color: #FFFFFF;
width: 230px;
margin-bottom: 120px;
letter-spacing: 2px;
}

.help-pumping_iron1{
    font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;
margin-bottom: 120px;
color: #FFFFFF;
background: #62D0DF;
padding: 95px 55px 100px 78px;
letter-spacing: 2px;
}

.help-pumping_iron2{
    font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;
background: #0052C1;
margin-bottom: 120px;
padding: 95px 57.4px 100px 78px;
letter-spacing: 2px;
}

.help-line2{
    width: 340px;
    border: 0.5px solid white;
    margin-bottom: 23px;
    list-style-type: none;
    margin-left: -40px;
}

.help-physical{
    background: #22356F;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    padding: 100px 222px 82px 104px;
    color: #FFFFFF;
    margin-left: -40px;
    width: 152px;
    line-height: 45px;
    letter-spacing: 2px;
    
    
}

.help-mental{
    background: #0052C1;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    padding: 100px 222px 265px 104px;
    color: #FFFFFF;
    width: 157px;
    line-height: 45px;
    letter-spacing: 2px;
}

.help-nutrition{
    background: url(img/Mask\ Group2.png) no-repeat;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    padding: 100px 140px 282px 104px;
    color: #FFFFFF;
    margin-right: -100px;
    letter-spacing: 2px;
}

.help-gymnastics{
    background: #62D0DF;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    padding: 100px 73px 182px 104px;
    color: #FFFFFF;
    margin-left: -40px;
    letter-spacing: 2px;
}

.help-crossfit{
    background: #DEE1FF;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    padding: 100px 77px 182px 104px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.help-aerobics{
    background: #8F00FF;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    padding: 100px 73px 318px 104px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.help-list2{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 189px;
}

.text{
    font-size: 16px;
line-height: 25px;
letter-spacing: -0.03em;
width: 298px;
color: rgba(34, 53, 111, 0.5);
margin-top: 28px;

}

.help2{
    font-size: 28px;
line-height: 33px;
letter-spacing: -0.03em;
margin-top: 92px;
color: #22356F;
margin-left: 77px;
padding-right: 90px;
}

